/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/build/Makefile.in
/build/win32/Makefile.in
/build/win32/vs10/Makefile.in
/build/win32/vs9/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.win32
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/docs/Makefile.in
/examples/Makefile.in
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/Makefile.in
/modules/arabic/Makefile.in
/modules/basic/Makefile.in
/modules/indic/Makefile.in
/modules/thai/Makefile.in
/omf.make
/pango-uninstalled.pc
/pango-view/Makefile.in
/pango-zip.sh
/pango.pc
/pango/Makefile.in
/pango/mini-fribidi/Makefile.in
/pangocairo-uninstalled.pc
/pangocairo.pc
/pangoft2-uninstalled.pc
/pangoft2.pc
/pangowin32-uninstalled.pc
/pangowin32.pc
/pangoxft-uninstalled.pc
/pangoxft.pc
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/tools/Makefile.in
/xmldocs.make
