/*.bak
/*.expected
/*.list
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/../build/win32/vs10/pango.vcxproj
/../build/win32/vs10/pango.vcxproj.filters
/../build/win32/vs10/pango.vs10.headers
/../build/win32/vs10/pangocairo.vcxproj
/../build/win32/vs10/pangocairo.vcxproj.filters
/../build/win32/vs10/pangocairo_fc.vcxproj
/../build/win32/vs10/pangocairo_fc.vcxproj.filters
/../build/win32/vs10/pangoft2.vcxproj
/../build/win32/vs10/pangoft2.vcxproj.filters
/../build/win32/vs9/pango.vcproj
/../build/win32/vs9/pango.vs9.headers
/../build/win32/vs9/pangocairo.vcproj
/../build/win32/vs9/pangoft2.vcproj
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Pango-1.0.gir
/Pango-1.0.typelib
/PangoCairo-1.0.gir
/PangoCairo-1.0.typelib
/PangoFT2-1.0.gir
/PangoFT2-1.0.typelib
/PangoXft-1.0.gir
/PangoXft-1.0.typelib
/TAGS
/_libs
/libpango-1.0.la
/libpangocairo-1.0.la
/libpangoft2-1.0.la
/libpangoxft-1.0.la
/module-defs-coretext.c
/module-defs-fc.c
/module-defs-lang.c
/module-defs-win32.c
/module-defs.h
/pango-enum-types.c
/pango-enum-types.h
/pango-features.h
/pango-querymodules
/pango.rc
/pangocairo.rc
/pangoft2.rc
/pangowin32.rc
/pangoxft.rc
/s-enum-types-c
/s-enum-types-h
/so_locations
/tags
