/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/all-unicode.txt
/cxx-test
/dump-boundaries
/gen-all-unicode
/pangorc
/so_locations
/tags
/test-ot-tags
/test-pangocairo-threads
/testboundaries
/testboundaries_ucd
/testcolor
/testiter
/testscript
