/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/../../build/libmini-fribidi.sourcefiles
/../../build/libmini-fribidi.vs10.sourcefiles
/../../build/libmini-fribidi.vs10.sourcefiles.filters
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libmini-fribidi.la
/so_locations
/tags
